@{
    ViewData["Title"] = "AddUsersFromExcel";
}

<form asp-action="AddUsersFromExcel" enctype="multipart/form-data" method="post">
    <input type="file" name="file">
    <button type="submit">Submit</button>
</form>
